html {
    font-family: 'Lato', sans-serif;
    
}


.container {
    color: $white-color;
}

.main-content {
    
    h1 {
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0.5rem 0;
    }
}